<app-breadcrumb [breadcrumbItems]="breadcrumbItems$ | async"></app-breadcrumb>

<h1>{{title}}</h1>

<!-- <button class="btn btn-primary" (click)="goToAddEntity()"> -->
<button class="btn btn-primary" [routerLink]="['/entities/new']">
    <clr-icon shape="plus"></clr-icon>
    Adauga entitate
</button>

<button type="button" [clrLoading]="refreshBtnState" class="btn btn-icon" (click)="refreshEntityList()">
    <clr-icon shape="refresh"></clr-icon>
    Refresh
</button>

<app-entity-list [entities]="entities$ | async" [loading]="loading$ | async" (delete)="deleteEntity($event)"></app-entity-list>