<h3>Directori:</h3>
<ul>
    <li class="mt-1"> prof. <strong>Daniela Maran</strong>, director </li>
    <li class="mt-1"> prof. inv. primar <strong>Liliana Boitiu</strong>, director adjunct </li>
</ul>

<h3>Consiliul de administratie:</h3>
<ul>
    {{#each staff}}
    <li class="mt-1">
        {{title}} <strong>{{firstName}} {{lastName}}</strong>, {{role}}
    </li>
    {{/each}}
</ul>