<!-- <p>This is a Clarity seed application. This is the default page that loads for the application.</p>

<clr-dropdown>
    <button clrDropdownTrigger class="btn">
        Dropdown
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem href="javascript://">Action 1</a>
        <a clrDropdownItem href="javascript://">Action 2</a>
        <div class="dropdown-divider"></div>
        <a clrDropdownItem href="javascript://">Link 1</a>
        <a clrDropdownItem href="javascript://">Link 2</a>
    </clr-dropdown-menu>
</clr-dropdown> -->


<!-- <form>
    <section class="form-block">
        <label>A Form</label>
        <div class="form-group">
            <label for="aForm_1">This is a form field</label>
            <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
        </div>
        <div class="form-group">
            <label for="aForm_2">Another form field</label>
            <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
        </div>
        <div class="form-group">
            <label for="aForm_3">A select box</label>
            <div class="select">
                <select id="aForm_3">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="aForm_4">Textarea</label>
            <textarea id="aForm_4" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Button</button>
    </section>
</form> -->

<p>Home ok</p>