<!-- <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="verticalNavIsCollapsed" [clr-nav-level]="2"
    class="nav-trigger--bottom"> -->

<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Acasa
</a>

<a clrVerticalNavLink routerLink="./users" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
    Utilizatori
</a>
<a clrVerticalNavLink routerLink="./dishes" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
    Feluri de mancare
</a>

<clr-vertical-nav-group routerLinkActive="active" [clrVerticalNavGroupExpanded]="navGroupAdminIsExpanded">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    Admin
    <clr-vertical-nav-group-children>
        <a clrVerticalNavLink routerLink="./home2" routerLinkActive="active">
            Users
        </a>
        <a clrVerticalNavLink routerLink="./entities" routerLinkActive="active">
            Entities
        </a>
        <a clrVerticalNavLink routerLink="./about2" routerLinkActive="active">
            Settings
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>

<a clrVerticalNavLink routerLink="./about" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
    Despre
</a>

<!-- </clr-vertical-nav> -->