<clr-main-container>
    <app-header2></app-header2>

    <div class="content-container">
        <div class="content-area" [@routerTransition]="getState(o)">
            <router-outlet #o="outlet"></router-outlet>
        </div>

        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="verticalNavIsCollapsed" [clr-nav-level]="2"
            class="nav-trigger--bottom">

            <app-vertical-nav></app-vertical-nav>

        </clr-vertical-nav>

    </div>

</clr-main-container>