<h1>Imagini din clase</h1>

<div class="row">

    <div class="col-sm">
        <a href="https://scoala21.blob.core.windows.net/share/poza-clasa-1-2018.jpg">
            ​<picture>
                <source srcset="https://scoala21.blob.core.windows.net/share/poza-clasa-1-2018.jpg"
                    type="image/svg+xml">
                <img src="https://scoala21.blob.core.windows.net/share/poza-clasa-1-2018-sm.jpg"
                    class="img-fluid img-thumbnail" alt="clasa-1">
            </picture>
        </a>
    </div>

    <div class="col-sm">
        <a href="https://scoala21.blob.core.windows.net/share/poza-clasa-2-2018.jpg">
            ​<picture>
                <source srcset="https://scoala21.blob.core.windows.net/share/poza-clasa-2-2018.jpg"
                    type="image/svg+xml">
                <img src="https://scoala21.blob.core.windows.net/share/poza-clasa-2-2018-sm.jpg"
                    class="img-fluid img-thumbnail" alt="clasa-2">
            </picture>
        </a>
    </div>

    <div class="col-sm">
        <a href="https://scoala21.blob.core.windows.net/share/poza-clasa-3-2018.jpg">
            ​<picture>
                <source srcset="https://scoala21.blob.core.windows.net/share/poza-clasa-3-2018.jpg"
                    type="image/svg+xml">
                <img src="https://scoala21.blob.core.windows.net/share/poza-clasa-3-2018-sm.jpg"
                    class="img-fluid img-thumbnail" alt="clasa-3">
            </picture>
        </a>
    </div>

</div>