.breadcrumb {
    > li {
        display: inline-block;
        & + li::before {
            padding: 0 5px 0 8px;
            color: #ccc;
            content: '/\00a0';
        }
    }
    .active {
        color: #777;
    }
}
