<h3>MateMaraton - Editia 2 (2018-19)</h3>
<h5>Link-uri utile:</h5>
<ul>
    <li><a href="https://drive.google.com/open?id=1nNICJVOqnx2W_vDOURwM6Xyl-pgVOWiq9V7LQEg-pC4" target="_blank">Prezenta</a>
        (centralizator)</li>
    <li><a href="https://drive.google.com/open?id=17TLOMu2ccXAyEJEM2dQM-ahoyyfVVkgGaO-nAN3go5Y" target="_blank">Teme
            predate</a>
        (centralizator)</li>
    <li><a href="https://drive.google.com/open?id=1eXbk_yqioy2K-jHwgwoHMd7cbJk_PW_SMXV8t787Hzo" target="_blank">Teme
            propuse</a>
        (pt. acasa)</li>
    <li><a href="https://drive.google.com/open?id=12NknbAonWK2lffp0NC7dSowp0ij9Q4pwgfmCfV3h4mk" target="_blank">Planificare
            materie</a>
        (sem.1)</li>
    <li><a href="https://drive.google.com/open?id=1-ULAisYs-EgeclkOuFSZpDO00yxPVP7qUnLtoY6DVrw" target="_blank">Cursuri</a>
        (poze
        de pe tabla)</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">Facebook</a> (nu necesita cont)</li>
    <li><a href="https://drive.google.com/open?id=1f-pmO9J0dlvaNaoPHnDvEotK91HTAsAeXTkjTWUcEdY" target="_blank">Programul
            si materialele folosite pt. pregatirea tezei</a> (sem.1)</li>

</ul>