<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">MateMaraton</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 2 (2018-19)</h1>

<h5>Prezenta</h5>
<ul>
    <li><a href="/matemaraton/prezenta/grupe/8-avansati">Cls 8 - Avansati</a></li>
    <li><a href="/matemaraton/prezenta/grupe/8-incepatori">Cls 8 - Incepatori</a></li>
    <li><a href="/matemaraton/prezenta/grupe/5-avansati">Cls 5 - Avansati</a></li>

</ul>

<h5>Cursuri <span class="font-weight-light text-secondary">(poze de pe tabla)</span></h5>
<ul>
    <li><a href="/matemaraton/cursuri/grupe/8-avansati">Cls 8 - Avansati</a></li>
    <li><a href="/matemaraton/cursuri/grupe/8-incepatori">Cls 8 - Incepatori</a></li>
    <li><a href="/matemaraton/cursuri/grupe/5-avansati">Cls 5 - Avansati</a></li>

</ul>

<h5>Materiale</h5>
<ul>
    <li><a href="/matemaraton/pregatire-simulare-en">Programul si materialele folosite pt. pregatirea simularii EN</a>
        (cls.8, sem.2)</li>
    <li><a href="https://drive.google.com/open?id=1f-pmO9J0dlvaNaoPHnDvEotK91HTAsAeXTkjTWUcEdY"
            target="_blank">Programul
            si materialele folosite pt. pregatirea tezei</a> (cls.8, sem.1)</li>
    <li><a href=" https://drive.google.com/open?id=12NknbAonWK2lffp0NC7dSowp0ij9Q4pwgfmCfV3h4mk"
            target="_blank">Planificare
            materie</a>
        (sem.1)</li>
    <li><a href="https://drive.google.com/open?id=17TLOMu2ccXAyEJEM2dQM-ahoyyfVVkgGaO-nAN3go5Y" target="_blank">Teme
            predate</a>
        (centralizator, sem.1)</li>
    <li><a href="https://drive.google.com/open?id=1eXbk_yqioy2K-jHwgwoHMd7cbJk_PW_SMXV8t787Hzo" target="_blank">Teme
            propuse</a>
        (pt. acasa, sem.1)</li>
</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Avansati: 09 - 11</li>
    <li>Cls 8 - Incepatori: 11 - 12</li>
    <li>Cls 5 - Avansati: 12 - 13:30</li>
</ul>
<p style="padding-left:40px">Cursurile se tin in fiecare sambata, la Scoala 21, Tm.</p>

<h5>Instructor:</h5>
<ul>
    <li>ing. Lucian Maran</li>
    <li>lucian.maran@gmail.com</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a> (nu
        necesita cont)</li>
    <li><a href="https://matemaraton-editia2.slack.com" target="_blank">matemaraton-editia2.slack.com</a> (acces pe baza
        de invitatie)</li>
</ul>

<h5>Editii anterioare:</h5>
<ul>
    <li><a href="/matemaraton/editia-1">Editia 1</a> (2017 - 2018)</li>

</ul>