<style>
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
</style>

<div class="starter-template">
    <h1>Scoala Gimnaziala nr. 21</h1>
    <h2 class="font-italic2 font-weight-light"> "Vicentiu Babes"</h2>
    <p class="lead">Timisoara</p>
</div>

{{!-- <h5>Elevii inscrisi in clasa pregatitoare, anul 2018-2019</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/elevi-inscrisi-in-clasa-pregatitoare.pdf">Detalii</a></h5>

<h5>Graficul inspectiilor la clasa - pretransfer inv. primar</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/grafic-inspectii-la-clasa-pretransfer-inv-primar.pdf">Detalii</a></h5>

<h5>Trasparenta veniturilor salariale conform Legii 153/2017, art.33</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/venituri-salariale-martie-2018.pdf">Detalii</a></h5>

<h5>Raport anual de evaluare interna a calitatii (RAEI) - Martie 2018</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/raport-raei-03-2018.pdf">Detalii</a></h5>

<h5>Înscrierea în învățământul primar - 2018</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/procedura-repartizare-elevi-si-invatatori-03-2018.pdf">Procedura
        de repartizare e elevilor</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/circumscriptii-inscriere-2018.pdf">Circumscriptie</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/criterii-de-departajare-2018.pdf">Criterii de departajare</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/orar-inscriere-2018.pdf">Orarul pentru inscriere</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/acte-necesare-inscriere-2018.pdf">Acte necesare</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/plan-scolarizare-inscriere-2018.pdf">Plan de scolarizare</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/scoala-dupa-scoala-2018.pdf">Scoala dupa scoala</a></h5>

<div class="row">

    <div class="col-sm">
        <a href="https://scoala21.blob.core.windows.net/share/poza-clasa-1-2018.jpg">
            ​<picture>
                <source srcset="https://scoala21.blob.core.windows.net/share/poza-clasa-1-2018.jpg" type="image/svg+xml">
                <img src="https://scoala21.blob.core.windows.net/share/poza-clasa-1-2018-sm.jpg" class="img-fluid img-thumbnail"
                    alt="clasa-1">
            </picture>
        </a>
    </div>

    <div class="col-sm">
        <a href="https://scoala21.blob.core.windows.net/share/poza-clasa-2-2018.jpg">
            ​<picture>
                <source srcset="https://scoala21.blob.core.windows.net/share/poza-clasa-2-2018.jpg" type="image/svg+xml">
                <img src="https://scoala21.blob.core.windows.net/share/poza-clasa-2-2018-sm.jpg" class="img-fluid img-thumbnail"
                    alt="clasa-2">
            </picture>
        </a>
    </div>

    <div class="col-sm">
        <a href="https://scoala21.blob.core.windows.net/share/poza-clasa-3-2018.jpg">
            ​<picture>
                <source srcset="https://scoala21.blob.core.windows.net/share/poza-clasa-3-2018.jpg" type="image/svg+xml">
                <img src="https://scoala21.blob.core.windows.net/share/poza-clasa-3-2018-sm.jpg" class="img-fluid img-thumbnail"
                    alt="clasa-3">
            </picture>
        </a>
    </div>

</div>

<h5>Ziua portilor deschise - Februarie 2018</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/2018-ziua-portilor-deschise-anunt.jpg">Detalii</a></h5>

<h5>Tabele elevi - Nov.2017</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/tabele-elevi-nov-2017.docx">Detalii</a></h5>

<h5>Concurs pentru ocuparea postului de ingrijitor - Nov.2017</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/concurs-ingrijitor-nov-2017.docx">Detalii</a></h5>

<h5>Transparenta veniturilor salariale conform Legii 153/2017, art.33</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/venituri-salariale-nov-2017.xlsx">Detalii</a></h5>

<h5>Tabele elevi - Oct.2017</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/tabele-elevi-oct-2017.doc">Detalii</a></h5>

<h5>Concurs pentru ocuparea postului de ingrijitor - Aug.2017</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/concurs-ingrijitor-aug-2017.docx">Detalii</a></h5>

<h5>Transfer elevi</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/transferuri.docx">Procedura de transfer</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/cerere%20transfer%20veniti.docx">Formular - cerere de
        transfer</a></h5>

<h5>Ziua Portilor Deschise - 2017</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/ziua-portilor-deschise-2017.pdf">Detalii</a></h5>

<h5>Înscrierea în învățământul primar - 2017</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/circumscriptii-2017.pdf">Circumscriptie</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/criterii-de-departajare-2017.pdf">Criterii de departajare</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/orar-2017.pdf">Orarul pentru inscriere</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/acte-necesare-2017.pdf">Acte necesare</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/plan-scolarizare-2017.pdf">Plan de scolarizare</a></h5>

<h5>Simularea evaluarii nationale - 2016</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/rezultate-simulare-2016.pdf">Rezultate clasa a VIII-a</a></h5>

<h5>Înscrierea în învățământul primar - 2016</h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/calendar-inscriere-inv-primar-2016.pdf">Calendar</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/metodologie-inscriere-inv-primar-2016.pdf">Metodologie</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/circumscriptii-inscriere-inv-primar-2016.pdf">Circumscriptie</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/criterii-de-departajare-2016.pdf">Criterii de departajare</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/criterii-de-distribuire-pe-clase-2016.pdf">Criterii de
        distribuire pe clase</a></h5>
<h5><a href="https://scoala21.blob.core.windows.net/share/orarul-pentru-inscriere-2016.pdf">Orarul pentru inscriere</a></h5> --}}