<h1>Utilizatori</h1>

<button class="btn btn-primary" [routerLink]="['/users/add']">
    <clr-icon shape="plus"></clr-icon>
    Adauga utilizator
</button>

<table class="table table-compact2">
    <thead>
        <tr>
            <th class="left">Nume</th>
            <th class="left">Prenume</th>
            <th>Varsta</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="left">
                <a href="#" [routerLink]="['/users', user._id]">{{user.lastName}}

                </a>
            </td>
            <td class="left">{{user.firstName}}</td>
            <td>{{user.age}}</td>
            <td>{{user._id}}</td>
            <td>
                <!-- <button style="margin-top:0; margin-bottom:1px; padding:0; line-height: 0; height: 0.4rem; border:0;" class="btn btn-sm btn-link"
                    (click)="confirmDeleteUser(user)">Sterge</button> -->

                <button style="margin-top:0; margin-bottom:1px; padding:0; line-height: 0; height: 0.4rem; border:0;" class="btn btn-sm btn-link"
                    (click)="deleteUser(user)">Sterge</button>
            </td>
        </tr>
    </tbody>
</table>

<app-modal-component [btnText]="'Close'"></app-modal-component>

<!-- <clr-modal [(clrModalOpen)]="deleteModal">
    <h3 class="modal-title">Esti sigur ca vrei sa stergi aceasta inregistrare?</h3>
    <div class="modal-body">
        <p>{{selectedUser.firstName}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteModal=false">Renunta</button>
        <button type="button" class="btn btn-warning" (click)="delete()">Sterge</button>
    </div>
</clr-modal> -->