<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item"><a href="/matemaraton">MateMaraton</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editia {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 1 (2017-18)</h1>

<h5>Documente</h5>
<ul>
    <li><a href="https://drive.google.com/open?id=1B7tPDyBxGRLZf-0Y-RqJea2D-T3BWRnsort-6HdiAbE"
            target="_blank">Descrierea proiectului</a></li>
    <li><a href="https://drive.google.com/open?id=14uaY1s7qRvZyKp0ggIeKAdL6BSYVr7REHQaCbnGvvTk"
            target="_blank">Activitatea si prezenta - etapa de incalzire </a> (primele 4 saptamani)</li>
    <li><a href="https://drive.google.com/open?id=1Tw3d2_Zu7BPXNkx-UE8Tj1k-q8hCkEpqnXGh53yoytE"
            target="_blank">Activitatea si prezenta - etapa de anduranta</a></li>
    <li><a href="https://drive.google.com/open?id=1CGs-szeqDIu8nrFKWz6GoktLREZo5OcYAP8tzwT-0r0"
            target="_blank">Activitatea si prezenta - etapa de sprint</a> (ultimele 6 saptamani)</li>
    <li><a href="https://drive.google.com/open?id=1mMyUq4VKS1d_ZmWtidOdhooaH9szBncmTSKBmQ0KZUU" target="_blank">Analiza
            si concluzii</a></li>
</ul>


<h5>Absolventii MateMaraton, Editia 1:</h5>
<p>Amalia, Alexandra, Denis, Nicoleta, Iustin, Andi</p>
<img src="https://scontent.fomr1-1.fna.fbcdn.net/v/t1.0-9/42334844_417862868746926_1502520787255427072_o.jpg?_nc_cat=100&_nc_ht=scontent.fomr1-1.fna&oh=4216fd319b588a8d5727f2ee94cd5a41&oe=5CE29F87"
    class="img-fluid" alt="Absolventi MateMaraton Editia1">
<p>O poza facuta cu cateva zile inainte de EN, la sfarsitul ultimei ore de curs. Lipseste Andi.</p>