<style>
    .navbar {
        border-bottom: 1px solid #E5E9EF;
    }
</style>

{{!-- no sections (head/script) in partials as handlebars doesn't support more that 2 similar sections on the same page
if 2 similar sections are used, the last one will override the first one --}}

<nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">Scoala 21</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/conducere' )}} active {{/if}}" href="/conducere">Conducere
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/profesori' )}} active {{/if}}" href="/profesori">Profesori
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/matemaraton' )}} active {{/if}}" href="/matemaraton">MateMaraton</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/contact' )}} active {{/if}}" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>