<style>
    .navbar {
        border-bottom: 1px solid #E5E9EF;
    }
</style>

{{!-- no sections (head/script) in partials as handlebars doesn't support more that 2 similar sections on the same page
if 2 similar sections are used, the last one will override the first one --}}

<nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">Scoala 21</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                {{!-- <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/inscriere' )}} active {{/if}}" href="/inscriere">Istoric
                    </a>
                </li> --}}



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inscriere
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/ziua-portilor-deschise' )}} active {{/if}}"
                            href="/ziua-portilor-deschise">Ziua
                            Portilor Deschise</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/planul-de-scolarizare' )}} active {{/if}}"
                            href="/planul-de-scolarizare">Planul
                            de scolarizare</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/circumscriptie' )}} active {{/if}}"
                            href="/circumscriptie">Circumscriptie</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/criterii-specifice-de-departajare' )}} active {{/if}}"
                            href="criterii-specifice-de-departajare">Criterii
                            specifice de departajare</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/orarul-pentru-inscriere' )}} active {{/if}}"
                            href="/orarul-pentru-inscriere">Orarul
                            pentru inscriere</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/acte-necesare-pentru-inscriere' )}} active {{/if}}"
                            href="/acte-necesare-pentru-inscriere">Acte
                            necesare pentru inscriere</a>
                        {{!-- <a class="dropdown-item {{#if (eq selectedTopMenu '/procedura-de-repartizare-pe-clase' )}} active {{/if}}"
                            href="/procedura-de-repartizare-pe-clase">Procedura
                            de repartizare pe clase</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/scoala-dupa-scoala' )}} active {{/if}}"
                            href="/scoala-dupa-scoala">Scoala
                            dupa scoala</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/imagini-din-clase' )}} active {{/if}}"
                            href="/imagini-din-clase">Imagini
                            din clase</a> --}}



                    </div>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Evaluare Nationala
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item {{#if (eq selectedTopMenu '/metodologie-evaluare-nationala' )}} active {{/if}}"
                            href="/metodologie-evaluare-nationala">Metodologie</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/calendar-evaluare-nationala' )}} active {{/if}}"
                            href="/calendar-evaluare-nationala">Calendar</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/rezultate-simulare-evaluare-nationala' )}} active {{/if}}"
                            href="/rezultate-simulare-evaluare-nationala">Rezultate
                            simulare EN</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/rezultate-evaluare-nationala' )}} active {{/if}}"
                            href="/rezultate-evaluare-nationala">Rezultate
                            EN</a>
                    </div>
                </li> --}}

                {{!-- <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/evaluare-nationala' )}} active {{/if}}" href="/inscriere">EvNat
                    </a>
                </li> --}}

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Echipa
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/profesori' )}} active {{/if}}"
                            href="/profesori">Profesori
                        </a>
                        <a class="dropdown-item" href="/personal-auxiliar">Personal auxiliar</a>
                        <a class="dropdown-item" href="#">Personal nedidactic</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item {{#if (eq selectedTopMenu '/conducere' )}} active {{/if}}"
                            href="/conducere">Echipa
                            manageriala
                        </a>

                        <a class="dropdown-item" href="#">Consiliul de administratie</a>
                        <a class="dropdown-item" href="/comisii">Comisii</a>
                    </div>
                </li> --}}

                {{!-- <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/conducere' )}} active {{/if}}" href="/conducere">Conducere
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/profesori' )}} active {{/if}}" href="/profesori">Profesori
                    </a>
                </li> --}}

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Elevi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item {{#if (eq selectedTopMenu '/clase' )}} active {{/if}}"
                            href="/clase">Clase</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/orar-elevi' )}} active {{/if}}"
                            href="/orar-elevi">Orar</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/transfer-elevi' )}} active {{/if}}"
                            href="/transfer-elevi">Transfer</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/rezultate-olimpiade' )}} active {{/if}}"
                            href="/rezultate-olimpiade">Rezultate
                            olimpiade</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/burse-elevi' )}} active {{/if}}"
                            href="/burse-elevi">Burse</a>
                    </div>
                </li> --}}

                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/profesori' )}} active {{/if}}"
                        href="/profesori">Profesori
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/clase' )}} active {{/if}}" href="/clase">Clase</a>
                </li>

                <li class="nav-item dropdown {{#if (eq selectedTopMenu '/matemaraton' )}} active {{/if}}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Proiecte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item {{#if (eq selectedTopMenu '/revista-scolii' )}} active {{/if}}"
                            href="/revista-scolii">Revista scolii</a>
                        {{!-- <a class="dropdown-item {{#if (eq selectedTopMenu '/eco-scoala' )}} active {{/if}}"
                            href="/eco-scoala">Eco
                            Scoala</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/biblioteca' )}} active {{/if}}"
                            href="/biblioteca">Biblioteca</a> --}}
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/matemaraton' )}} active {{/if}}"
                            href="/matemaraton">MateMaraton</a>

                    </div>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transparenta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item {{#if (eq selectedTopMenu '/hotarari-ca' )}} active {{/if}}"
                            href="/hotarari-ca">Hotarari
                            CA</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/achizitii-publice' )}} active {{/if}}"
                            href="/achizitii-publice">Achizitii
                            publice</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/cheltuieli-asociatie-parinti' )}} active {{/if}}"
                            href="/cheltuieli-asociatie-parinti">Cheltuieli
                            asociatie parinti</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/rapoarte' )}} active {{/if}}"
                            href="/rapoarte">Rapoarte</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/anunturi' )}} active {{/if}}"
                            href="/anunturi">Anunturi</a>
                    </div>
                </li> --}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Despre
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {{!-- <a class="dropdown-item {{#if (eq selectedTopMenu '/repere-istorice' )}} active {{/if}}" href="/repere-istorice">Repere
                            istorice</a>
                        <a class="dropdown-item {{#if (eq selectedTopMenu '/elevi-de-prestigiu' )}} active {{/if}}"
                            href="/elevi-de-prestigiu">Elevi de prestigiu</a> --}}

                        <a class="dropdown-item {{#if (eq selectedTopMenu '/conducere' )}} active {{/if}}"
                            href="/conducere">Echipa manageriala
                        </a>
                        <a class="dropdown-item" href="/personal-auxiliar">Personal auxiliar</a>
                        {{!-- <a class="dropdown-item" href="#">Personal nedidactic</a> --}}
                        {{!-- <div class="dropdown-divider"></div> --}}



                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if (eq selectedTopMenu '/contact' )}} active {{/if}}"
                        href="/contact">Contact</a>
                </li>
            </ul>

            {{!-- <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Right Link 1</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown on Right</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
                    </div>
                </li>
            </ul> --}}

            {{#unless user.activationToken}} {{!do not display this part during user activation}}
            <ul class='navbar-nav ml-auto'>
                {{#if user}}
                {{#if user.isAdmin}}
                <li class="nav-item"><a class="nav-link" href='/admin'>Admin</a></li>
                {{/if}}
                {{#if user.isPartner}}
                <li class="nav-item"><a class="nav-link" href='/admin'>Admin</a></li>
                {{/if}}
                <li class="nav-item dropdown">
                    <a class='dropdown-item' href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <!--<img src='//www.gravatar.com/avatar/6f137572059f8c0f23363e8678d7a795' width="20" height="20">-->
                        {{user.name}}
                        {{!-- <b class='caret'></b> --}}
                    </a>
                    {{!-- <ul class="dropdown-menu">
                        <li><a href='/changePassword'>Schimba parola</a></li>
                        <li><a href='/logout'>Log out</a></li>
                    </ul> --}}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/changePassword">Schimba parola</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href='/register'>Cont nou</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/login'>Login</a>
                </li>
                {{/if}}

            </ul>
            {{/unless}}

        </div>
    </div>
</nav>