<!-- <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" *ngIf="!entityForm.valid && formSubmitAttempt">
    <div class="alert-item">
        <span class="alert-text">
            Formular invalid. Corecteaza informatiile din campurile marcate.
        </span>
    </div>
</clr-alert> -->

<app-breadcrumb [breadcrumbItems]="breadcrumbItems$ | async"></app-breadcrumb>

<h1>{{title}}</h1>

<app-entity-detail (update)="updateEntity($event)" [entity]=" entity$ | async"></app-entity-detail>