<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="#">Acasa</i></a></li>
        <li class="breadcrumb-item"><a href="/matemaraton">MateMaraton</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pregatire Simulare EN</li>
    </ol>
</nav>

<h1>Calendar pregatire Simulare EN 2019</h1>

<h5>Luni (4 Mar)</h5>
<ul>
    <li>Rezolvare <a href="/matemaraton/pregatire-simulare-en#test1">Test-1</a> - termen predare Marti, 5 Mar</li>
</ul>

<h5>Marti si Miercuri (5-6 Mar)</h5>
<ul>
    <li>Rezolvare <a href="/matemaraton/pregatire-simulare-en#test2">Test-2</a> - termen predare Joi, 7 Mar</li>
</ul>

<h5>Joi si Vineri (7-8 Mar)</h5>
<ul>
    <li>Rezolvare <a href="/matemaraton/pregatire-simulare-en#test3">Test-3</a> - termen predare Sambata, 9 Mar</li>
</ul>

<h5>Sambata (9 Mar)</h5>
<ul>
    <li>9-11: <span class="font-weight-bold">Test</span> dupa modelul simularii EN (conditii de examen)</li>
    <li>11-12: Corectarea testului, ultimele indicatii</li>
</ul>

<h5>Obs:</h5>
<p>
    Testele primite ca tema se scriu pe coli albe si se predau la scoala (d-na Maran), in zilele stabilite.
</p>
<p>
    Toate cele 4 teste vor fi corectate, notate si returnate copiilor.
</p>


<hr class="mt-5">

<h5 id="test1">Test 1:</h5>

<img src="https://scoala21.blob.core.windows.net/share/simulare-en-2015-page-001.jpg" class="img-fluid"
    alt="test-1-pag-1">
<img src="https://scoala21.blob.core.windows.net/share/simulare-en-2015-page-002.jpg" class="img-fluid"
    alt="test-1-pag-2">

<hr class="mt-5">
<h5 id="test2">Test 2:</h5>

<img src="https://scoala21.blob.core.windows.net/share/simulare-en-2016-page-001.jpg" class="img-fluid"
    alt="test-2-pag-1">
<img src="https://scoala21.blob.core.windows.net/share/simulare-en-2016-page-002.jpg" class="img-fluid"
    alt="test-2-pag-2">

<hr class="mt-5">
<h5 id="test3">Test 3:</h5>

<img src="https://scoala21.blob.core.windows.net/share/simulare-en-2017-page-001.jpg" class="img-fluid"
    alt="test-3-pag-1">
<img src="https://scoala21.blob.core.windows.net/share/simulare-en-2017-page-002.jpg" class="img-fluid"
    alt="test-3-pag-2">