<h1>{{title}}</h1>

<form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" [hidden]="submitted" novalidate>
    <section class="form-block">
        <!-- <label>Add Employee Address</label> -->

        <div class="form-group">
            <label for="userLastName" class="required">Nume</label>
            <label for="userLastName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-md tooltip-validation " [class.invalid]="isFieldInvalid('lastName')">
                <input id="userLastName" type="text" formControlName="lastName">
                <span class="tooltip-content">
                    <app-display-error [control]=userForm.controls.lastName></app-display-error>
                </span>
            </label>
        </div>

        <div class="form-group">
            <label for="userFirstName" class="required">Prenume</label>
            <label for="userFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-md tooltip-validation " [class.invalid]="isFieldInvalid('firstName')">
                <input id="userFirstName" type="text" formControlName="firstName">
                <span class="tooltip-content">
                    <app-display-error [control]=userForm.controls.firstName></app-display-error>
                </span>
            </label>
        </div>

        <div class="form-group">
            <label for="userEmail" class="required">Email</label>
            <label for="userEmail" aria-haspopup="true" role="tooltip" class="tooltip tooltip-md tooltip-validation" [class.invalid]="isFieldInvalid('email')">
                <input id="userEmail" type="text" formControlName="email">
                <span class="tooltip-content">
                    <app-display-error [control]=userForm.controls.email></app-display-error>
                </span>
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Salveaza</button>
        <button type="button" (click)="goBack()" class="btn">Renunta</button>

    </section>
</form>